<!DOCTYPE html>
<html>
<head>
   <title>DREGS</title>
   <link rel="stylesheet" type="text/css" href="global/main.css">
   <script type="text/javascript" src="global/sounds.js"></script>
   <script type="text/javascript" src="global/howler.min.js"></script>
   <style>
      {{ issue_style }}
      {% for rule in style %} {{ rule }} {% endfor %}
   </style>
</head>
<body>
   <div id="container">
      {% for s in strips %}
         <div class="strip {{ s.prefix }}">{{ s.markup }}</div>
      {% endfor %}
   </div>
</body>
</html>