body {
   background-color: #6B6B6B;
}

#container {
   width: 1000px;
   margin: auto;
}

h1.killdefault, h2.killdefault, h3.killdefault {
   font-weight: normal;
   font-size: inherit;
   margin: 0px;
}

*[audio-click] {
   cursor: pointer;
}

.strip {
   position: relative;
   width: 100%;
   float: right;
}

.audio {
   color: white;
   display: inline-block;
   font-family: monospace;
}

.audio > div {
   display: flex;
   display: -webkit-flex;
}

.audio > div .label {
   margin-left: 10px;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   border-bottom: 1px solid white;
}

.audio > div .label:hover {
   border-width: 2px;
}

.audio > div * {
   -webkit-align-self: center;
   align-self: center;
}
